.questions{
    padding: 0.8rem;
    background-color: rgb(18, 23, 23);
    margin: 0.5rem auto;
    width: 50rem;
    max-width: 95%;
    color: white;
}

.question-header{
    display: flex;
    margin-left: 3%;
}

.quiz-total{
    text-align: left;
}

.quiz-timer{
    margin-left: 60%; 
}

.quiz-submit{
    margin-left: 80%;
    font-size: 20px; 
}